# Deal with Json data

# convert json data into pamdas dataframe

In [2]:
import pandas as pd

In [4]:
df  = pd.read_json("train.json")

In [7]:
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

# Load json data through API and convert into dataframe

In [11]:
df = pd.read_json("https://api.exchangerate-api.com/v4/latest/INR")

In [12]:
df.head()

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-12-11,1639180802,0.0484
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-12-11,1639180802,1.2900
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-12-11,1639180802,1.4100
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-12-11,1639180802,6.5400
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-12-11,1639180802,0.0236

In [23]:
df.shape

(160, 7)

# Deal with sql data 
# Step-1 Download XAMPP software ("https://www.apachefriends.org/index.html")# Step-2 Run apache and mysql server and open this url in chrome localhost/phpmyadmin/
# Step-3 Create a new database and import that sql file

# To communicate with mysql and python we install some library

In [25]:
! pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 742 kB/s eta 0:00:01
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp38-cp38-linux_x86_64.whl size=247948 sha256=b7783a77d45f86615e62fbaf0b18aadde6e13188012068de72cabb9ef695d6dc
  Stored in directory: /home/shivansh/.cache/pip/wheels/57/e4/98/5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector

In [26]:
import mysql.connector

In [30]:
conn = mysql.connector.connect(host="localhost",user="shivansh",password="",database="school")

InterfaceError: sha256_password requires SSL

In [ ]:
pd.read_sql_query("SELECT * FROM city",conn)