In [6]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv("titanic_toy.csv")

In [8]:
df.sample(5)

      Age     Fare  Family  Survived
39   14.0  11.2417       1         1
13   39.0  31.2750       6         0
532  17.0   7.2292       2         0
140   NaN  15.2458       2         0
551  27.0  26.0000       0         0

In [9]:
X = df.drop(columns="Survived")
y = df["Survived"]

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
tnf = ColumnTransformer(transformers=[
    ("median_age",SimpleImputer(strategy="median"),["Age"]),
    ("mean_Fare",SimpleImputer(),["Fare"])
],remainder="passthrough")

In [12]:
X_train_new = tnf.fit_transform(X_train)
X_test_new   = tnf.transform(X_test)

In [25]:
tnf.named_transformers_["median_age"].statistics_

array([28.])

In [27]:
tnf.named_transformers_["mean_Fare"].statistics_

array([32.51778772])