# Way to find m(Slope) and b(Intercept) 
### 1.Closed Form Soluation (OLS) 
[ordinary least squares (OLS) is a type of linear least squares method for estimating 
the unknown parameters in a linear regression model])

In LinearRegression Class OLS is implemented.
### 2.Non Closed Form (Gradient Descent)
In SGDRegressor Class Gradient Descent is implemented.

<img src="https://d138zd1ktt9iqe.cloudfront.net/media/seo_landing_files/slope-intercept-form-1620020447.png" width="300"/>

<img src="https://d138zd1ktt9iqe.cloudfront.net/media/seo_landing_files/y-intercept-1-1620042461.png" width="300"/>

<img src="https://d138zd1ktt9iqe.cloudfront.net/media/seo_landing_files/finding-slope-of-a-line-1620040795.png" width="250"/>

<img src="https://wumbo.net/notation/summation/summation-operator-annotated-340-160.svg" width="250"/>

<img src="" />

# b = ȳ - mx̄

<img src="LR.jpeg" width="400"/>

In [96]:
class MeraLR:
    def __init__(self):
        self.m = None
        self.b = None
        
    def fit(self, X_train,y_train):
        
        num = 0
        den = 0
        for i in range(X_train.shape[0]):
            num = num+(X_train[i]-X_train.mean())* (y_train[i]-y_train.mean())
            den = den+(X_train[i]-X_train.mean())*(X_train[i]-X_train.mean())
            
        self.m=num/den
        self.b=y_train.mean()-(self.m * X_train.mean())
        
        print("Slope (m):",self.m)
        print("Intercept (b)",self.b)
        
    def predict(self,X_test):
                return self.m * X_test + self.b

In [97]:
import pandas as pd
import numpy as np

In [98]:
df = pd.read_csv("updated.csv")

In [99]:
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [100]:
# .values is used to convert into numpy (to_numpy())
X = df.iloc[:,0].values
y = df.iloc[:,1].values

In [101]:
type(X)

numpy.ndarray

In [102]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [103]:
lr = MeraLR()

In [104]:
lr.fit(X_train,y_train)

Slope (m): 0.5579519734250721
Intercept (b) -0.8961119222429152

In [105]:
y_pred = lr.predict(X_test)

In [106]:
from sklearn.metrics import r2_score

In [107]:
r2_score(y_test,y_pred)

0.7807301475103842

In [108]:
X_test

array([8.58, 7.15, 5.88, 6.22, 4.57, 4.79, 5.32, 6.86, 8.35, 6.87, 8.94,
       7.9 , 6.93, 5.91, 7.32, 7.82, 5.09, 7.42, 6.94, 7.73, 6.19, 7.28,
       6.73, 7.2 , 8.21, 6.75, 7.87, 7.6 , 8.63, 5.12, 8.15, 7.36, 8.31,
       6.6 , 6.59, 7.47, 7.93, 6.29, 6.37, 6.47])