# Create AN API üîó
## ---------------------------

# API is nothing but used to communicate between two software.

<img src=""  />

# Convert API data into DataFrame

# STEP FOLLOW
# Go to the TMDB website and login.
# Search TMDB API on google and jump into Movie Section("https://developers.themoviedb.org/3/movies/get-top-rated-movies") Get Top Rated and try in out section copy url.
# Open setting in TMDB and jump API section and create an API.

# API KEY 
https://api.themoviedb.org/3/movie/top_rated?api_key=3cd968810a1241900f76f8caae946412&language=en-US&page=1

# Open json Viewer ("http://jsonviewer.stack.hu/")  and paste all data that is come through the API.
# And select whatever data column required in you dataframe
## id title release_date overview popularity vote_average vote_count

# Working with an API ‚Äçüíª
## --------------------------------------

In [1]:
import pandas as pd

In [2]:
import requests

In [3]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=3cd968810a1241900f76f8caae946412&language=en-US&page=1")

In [4]:
response.json()["results"]

[{'adult': False,
  'backdrop_path': '/5hNcsnMkwU2LknLoru73c76el3z.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 19404,
  'original_language': 'hi',
  'original_title': '‡§¶‡§ø‡§≤‡§µ‡§æ‡§≤‡•á ‡§¶‡•Å‡§≤‡•ç‡§π‡§®‡§ø‡§Ø‡§æ ‡§≤‡•á ‡§ú‡§æ‡§Ø‡•á‡§Ç‡§ó‡•á',
  'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fianc√©. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
  'popularity': 23.459,
  'poster_path': '/2CAL2433ZeIihfX1Hb2139CX0pW.jpg',
  'release_date': '1995-10-20',
  'title': 'Dilwale Dulhania Le Jayenge',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 3268},
 {'adult': False,
  'backdrop_path': '/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg',
  'genre_ids': [18, 80],
  'id': 278,
  'original_language': 'en',
  'original_title': 'The Shawshank Redemption',
  'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
  'popularity': 61.283,
  'poster_path': '/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg',
  'release_date': '1994-09-23',
  'title': 'The Shawshank Redemption',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 20253},
 {'adult': False,
  'backdrop_path': '/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg',
  'genre_ids': [18, 80],
  'id': 238,
  'original_language': 'en',
  'original_title': 'The Godfather',
  'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
  'popularity': 60.24,
  'poster_path': '/eEslKSwcqmiNS6va24Pbxf2UKmJ.jpg',
  'release_date': '1972-03-14',
  'title': 'The Godfather',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 15161},
 {'adult': False,
  'backdrop_path': '/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg',
  'genre_ids': [10749],
  'id': 724089,
  'original_language': 'en',
  'original_title': "Gabriel's Inferno Part II",
  'overview': "Professor Gabriel Emerson finally learns the truth about Julia Mitchell's identity, but his realization comes a moment too late. Julia is done waiting for the well-respected Dante specialist to remember her and wants nothing more to do with him. Can Gabriel win back her heart before she finds love in another's arms?",
  'popularity': 10.444,
  'poster_path': '/x5o8cLZfEXMoZczTYWLrUo1P7UJ.jpg',
  'release_date': '2020-07-31',
  'title': "Gabriel's Inferno Part II",
  'video': False,
  'vote_average': 8.7,
  'vote_count': 1348},
 {'adult': False,
  'backdrop_path': '/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg',
  'genre_ids': [10749, 35],
  'id': 761053,
  'original_language': 'en',
  'original_title': "Gabriel's Inferno Part III",
  'overview': "The final part of the film adaption of the erotic romance novel Gabriel's Inferno written by an anonymous Canadian author under the pen name Sylvain Reynard.",
  'popularity': 25.938,
  'poster_path': '/qtX2Fg9MTmrbgN1UUvGoCsImTM8.jpg',
  'release_date': '2020-11-19',
  'title': "Gabriel's Inferno Part III",
  'video': False,
  'vote_average': 8.6,
  'vote_count': 908},
 {'adult': False,
  'backdrop_path': '/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg',
  'genre_ids': [18, 36, 10752],
  'id': 424,
  'original_language': 'en',
  'original_title': "Schindler's List",
  'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
  'popularity': 32.761,
  'poster_path': '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg',
  'release_date': '1993-11-30',
  'title': "Schindler's List",
  'video': False,
  'vote_average': 8.6,
  'vote_count': 12105},
 {'adult': False,
  'backdrop_path': '/w2uGvCpMtvRqZg6waC1hvLyZoJa.jpg',
  'genre_ids': [10749],
  'id': 696374,
  'original_language': 'en',
  'original_title': "Gabriel's Inferno",
  'overview': "An intriguing and sinful exploration of seduction, forbidden love, and redemption, Gabriel's Inferno is a captivating and wildly passionate tale of one man's escape from his own personal hell as he tries to earn the impossible--forgiveness and love.",
  'popularity': 11.424,
  'poster_path': '/oyG9TL7FcRP4EZ9Vid6uKzwdndz.jpg',
  'release_date': '2020-05-29',
  'title': "Gabriel's Inferno",
  'video': False,
  'vote_average': 8.6,
  'vote_count': 2165},
 {'adult': False,
  'backdrop_path': '/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg',
  'genre_ids': [18, 80],
  'id': 240,
  'original_language': 'en',
  'original_title': 'The Godfather: Part II',
  'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
  'popularity': 40.114,
  'poster_path': '/sSuQTCZwqKrNBNIsksO9IAUoWP9.jpg',
  'release_date': '1974-12-20',
  'title': 'The Godfather: Part II',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 9127},
 {'adult': False,
  'backdrop_path': '/iUeeZ5PWfZGgUtCJfwcgmCfdzoI.jpg',
  'genre_ids': [16, 878, 10751, 35],
  'id': 482321,
  'original_language': 'en',
  'original_title': "Ron's Gone Wrong",
  'overview': "In a world where walking, talking, digitally connected bots have become children's best friends, an 11-year-old finds that his robot buddy doesn't quite work the same as the others do.",
  'popularity': 2253.75,
  'poster_path': '/gA9QxSravC2EVEkEKgyEmDrfL0e.jpg',
  'release_date': '2021-10-15',
  'title': "Ron's Gone Wrong",
  'video': False,
  'vote_average': 8.6,
  'vote_count': 298},
 {'adult': False,
  'backdrop_path': '/l5K9elugftlcyIHHm4nylvsn26X.jpg',
  'genre_ids': [18],
  'id': 255709,
  'original_language': 'ko',
  'original_title': 'ÏÜåÏõê',
  'overview': 'After 8-year-old So-won narrowly survives a brutal sexual assault, her family labors to help her heal while coping with their own rage and grief.',
  'popularity': 10.104,
  'poster_path': '/x9yjkm9gIz5qI5fJMUTfBnWiB2o.jpg',
  'release_date': '2013-10-02',
  'title': 'Hope',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 236},
 {'adult': False,
  'backdrop_path': '/1EAxNqdkVnp48a7NUuNBHGflowM.jpg',
  'genre_ids': [16, 28, 878],
  'id': 283566,
  'original_language': 'ja',
  'original_title': '„Ç∑„É≥„Éª„Ç®„É¥„Ç°„É≥„Ç≤„É™„Ç™„É≥ÂäáÂ†¥Áâà:||',
  'overview': 'In the aftermath of the Fourth Impact, stranded without their Evangelions, Shinji, Asuka, and Rei find refuge in one of the rare pockets of humanity that still exist on the ruined planet Earth. There, each of them live a life far different from their days as an Evangelion pilot. However, the danger to the world is far from over. A new impact is looming on the horizon‚Äîone that will prove to be the true end of Evangelion.',
  'popularity': 158.981,
  'poster_path': '/jDwZavHo99JtGsCyRzp4epeeBHx.jpg',
  'release_date': '2021-03-08',
  'title': 'Evangelion: 3.0+1.0 Thrice Upon a Time',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 391},
 {'adult': False,
  'backdrop_path': '/mMtUybQ6hL24FXo0F3Z4j2KG7kZ.jpg',
  'genre_ids': [10749, 16, 18],
  'id': 372058,
  'original_language': 'ja',
  'original_title': 'Âêõ„ÅÆÂêç„ÅØ„ÄÇ',
  'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki‚Äôs body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
  'popularity': 149.041,
  'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg',
  'release_date': '2016-08-26',
  'title': 'Your Name.',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 8121},
 {'adult': False,
  'backdrop_path': '/Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg',
  'genre_ids': [16, 10751, 14],
  'id': 129,
  'original_language': 'ja',
  'original_title': 'ÂçÉ„Å®ÂçÉÂ∞ã„ÅÆÁ•ûÈö†„Åó',
  'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
  'popularity': 75.421,
  'poster_path': '/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg',
  'release_date': '2001-07-20',
  'title': 'Spirited Away',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 12132},
 {'adult': False,
  'backdrop_path': '/TU9NIjwzjoKPwQHoHshkFcQUCG.jpg',
  'genre_ids': [35, 53, 18],
  'id': 496243,
  'original_language': 'ko',
  'original_title': 'Í∏∞ÏÉùÏ∂©',
  'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
  'popularity': 90.198,
  'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
  'release_date': '2019-05-30',
  'title': 'Parasite',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 12639},
 {'adult': False,
  'backdrop_path': '/u1wHUA0R48FH4WV3sGqjwx3aNZm.jpg',
  'genre_ids': [16, 18, 10402, 10749],
  'id': 632632,
  'original_language': 'ja',
  'original_title': 'Êò†Áîª „ÇÆ„É¥„É≥',
  'overview': "The film centers on the love relationship among the band's bassist Haruki Nakayama, drummer Akihiko Kaji, and Akihiko's roommate and ex-boyfriend Ugetsu Murata.",
  'popularity': 116.051,
  'poster_path': '/xKCtoYHUyX8zAg68eemnYa2orep.jpg',
  'release_date': '2020-08-22',
  'title': 'Given',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 273},
 {'adult': False,
  'backdrop_path': '/qqHQsStV6exghCM7zbObuYBiYxw.jpg',
  'genre_ids': [18],
  'id': 389,
  'original_language': 'en',
  'original_title': '12 Angry Men',
  'overview': "The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.",
  'popularity': 23.43,
  'poster_path': '/e02s4wmTAExkKg0yF4dEG98ZRpK.jpg',
  'release_date': '1957-04-10',
  'title': '12 Angry Men',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 6009},
 {'adult': False,
  'backdrop_path': '/1fOsyhVz5qyX2rl1qqX6KImVhTx.jpg',
  'genre_ids': [18, 35],
  'id': 644479,
  'original_language': 'es',
  'original_title': 'Dedicada a mi ex',
  'overview': 'The film tells the story of Ariel, a 21-year-old who decides to form a rock band to compete for a prize of ten thousand dollars in a musical band contest, this as a last option when trying to get money to save their relationship and reunite with his ex-girlfriend, which breaks due to the trip she must make to Finland for an internship. Ariel with her friend Ortega, decides to make a casting to find the other members of the band, although they do not know nothing about music, thus forming a band with members that have diverse and opposite personalities.',
  'popularity': 17.103,
  'poster_path': '/xc4bTXVwYNXi10jG9dwcaYt5IpU.jpg',
  'release_date': '2019-11-01',
  'title': 'Dedicated to my ex',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 440},
 {'adult': False,
  'backdrop_path': '/l6hQWH9eDksNJNiXWYRkWqikOdu.jpg',
  'genre_ids': [14, 18, 80],
  'id': 497,
  'original_language': 'en',
  'original_title': 'The Green Mile',
  'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
  'popularity': 62.974,
  'poster_path': '/velWPhVMQeQKcxggNEU8YmIo52R.jpg',
  'release_date': '1999-12-10',
  'title': 'The Green Mile',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 13152},
 {'adult': False,
  'backdrop_path': '/m5HPKCi7GdhKmxPTcOQmcLfEmZ9.jpg',
  'genre_ids': [12, 35, 16, 14],
  'id': 532067,
  'original_language': 'ja',
  'original_title': 'Êò†Áîª „Åì„ÅÆÁ¥†Êô¥„Çâ„Åó„ÅÑ‰∏ñÁïå„Å´Á•ùÁ¶è„ÇíÔºÅÁ¥Ö‰ºùË™¨',
  'overview': "It is not strange that the Demon Lord's forces fear the Crimson Demons, the clan from which Megumin and Yunyun originate. Even if the Demon Lord's generals attack their village, the Crimson Demons can just easily brush them off with their supreme mastery of advanced and overpowered magic.  When Yunyun receives a seemingly serious letter regarding a potential disaster coming to her hometown, she immediately informs Kazuma Satou and the rest of his party. After a series of wacky misunderstandings, it turns out to be a mere prank by her fellow demon who wants to be an author. Even so, Megumin becomes worried about her family and sets out toward the Crimson Demons' village with the gang.  There, Kazuma and the others decide to sightsee the wonders of Megumin's birthplace. However, they soon come to realize that the nonsense threat they received might have been more than just a joke.",
  'popularity': 169.889,
  'poster_path': '/j73LuQcA21KvkVFcroWWMN8tTJv.jpg',
  'release_date': '2019-08-30',
  'title': "KonoSuba: God's Blessing on this Wonderful World! Legend of Crimson",
  'video': False,
  'vote_average': 8.5,
  'vote_count': 321},
 {'adult': False,
  'backdrop_path': '/yHtB4KHNigx3ZoxDvQbW2SOXGfq.jpg',
  'genre_ids': [16, 10751, 12, 14],
  'id': 441130,
  'original_language': 'en',
  'original_title': 'Wolfwalkers',
  'overview': 'In a time of superstition and magic, when wolves are seen as demonic and nature an evil to be tamed, a young apprentice hunter comes to Ireland with her father to wipe out the last pack. But when she saves a wild native girl, their friendship leads her to discover the world of the Wolfwalkers and transform her into the very thing her father is tasked to destroy.',
  'popularity': 21.059,
  'poster_path': '/ehAKuE48okTuonq6TpsNQj8vFTC.jpg',
  'release_date': '2020-10-26',
  'title': 'Wolfwalkers',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 637}]

In [5]:
pd.DataFrame(response.json()["results"]).head(1)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/5hNcsnMkwU2LknLoru73c76el3z.jpg,"[35, 18, 10749]",19404,hi,‡§¶‡§ø‡§≤‡§µ‡§æ‡§≤‡•á ‡§¶‡•Å‡§≤‡•ç‡§π‡§®‡§ø‡§Ø‡§æ ‡§≤‡•á ‡§ú‡§æ‡§Ø‡•á‡§Ç‡§ó‡•á,"Raj is a rich, carefree, happy-go-lucky second...",23.459,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.7,3268

In [6]:
temp_df = pd.DataFrame(response.json()["results"])[["id","title","overview","release_date","popularity","vote_average","vote_count"]]

In [7]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,23.459,8.7,3268
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,61.283,8.7,20253
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,60.240,8.7,15161
3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,10.444,8.7,1348
4,761053,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,2020-11-19,25.938,8.6,908

# In this API there are total 471, we just retrive 1 page output so now we put this all process into loop.

In [15]:
# Create Empty Dataframe
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [18]:
for i in range(1,472): # Last one excluded
    response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=3cd968810a1241900f76f8caae946412&language=en-US&page={}".format(i))
    temp_df = pd.DataFrame(response.json()["results"])[["id","title","overview","release_date","popularity","vote_average","vote_count"]]
    df = df.append(temp_df,ignore_index=True)

In [19]:
df.shape

(9403, 7)

In [22]:
df.head(1)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,23.459,8.7,3268

# Save Dataset To CSV

In [24]:
df.to_csv("top_rated_movie.csv")

In [27]:
pd.read_csv("top_rated_movie.csv").head(1)

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,23.459,8.7,3268

# Free API ‚Äì Top 15 APIs You Can Use For Free (No Key Needed)
https://apipheny.io/free-api/