In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# EDA THROUGH  PANDAS PROFILING

In [4]:
from pandas_profiling import ProfileReport

In [5]:
prof = ProfileReport(df)

In [7]:
prof.to_file(output_file="ti.html")

Export report to file: 100%|██████████████████████| 1/1 [00:00<00:00, 68.23it/s]

# EDA THROUGH SWEETVIZ

In [9]:
# ! pip install sweetviz

In [10]:
import sweetviz as sv

In [11]:
report = sv.analyze(df)

Done! Use 'show' commands to display/save.   |██| [100%]   00:00 -> (00:00 left)

In [19]:
report.show_html(filepath='report.html',layout="vertical")

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [23]:
# ! pip install dtale

# EDA THROUGH DTALE

In [25]:
import  dtale

In [26]:
d = dtale.show(df)

In [29]:
d

In [28]:
d.open_browser()

In [46]:
d.main_url()

http://macbook-pro:40000/dtale/main/1
Executing shutdown due to inactivity...

2021-12-13 18:11:53,927 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2021-12-13 18:11:53,967 - INFO     - Executing shutdown...

# --------------------------------------------

In [31]:
import seaborn as sns
df2 = sns.load_dataset("tips")

In [33]:
df2

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [34]:
import sweetviz as sv 
report = sv.analyze(df2)

Done! Use 'show' commands to display/save.   |██| [100%]   00:00 -> (00:00 left)

In [37]:
report.show_html(layout="vertical")

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [41]:
report2 = dtale.show(df2)

In [43]:
report2.main_url()

http://macbook-pro:40000/dtale/main/4