<img src="https://media2.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif?cid=790b761143cde9ec50837cc14f544e0c2251fc3f5b792c0a&rid=giphy.gif&ct=g" width=350 />

In [1]:
print("hello world")
print(5)
print(5.6)
print("India","USA","Nepal")

hello world
5
5.6
India USA Nepal

In [2]:
print("India","USA","Nepal",sep="-")
print("India","USA","Nepal",sep="*")

India-USA-Nepal
India*USA*Nepal

In [3]:
print("Hello",end=" ")
print("World")

Hello World

### -------------------------------------------<.>--------------------------------------------------------------------

## Python supports 3 categories of data types:
### Basic Types - (integer,float,complex,boolean and string)
### Container Types - (List,Tuples, Sets and Dictionary)
### User-defined Types - Class

In [4]:
# Integer
print(4)
print(1e308)
print(1e309) # 1 × 10^308 is the heighest integer range support by python.

4
1e+308
inf

In [5]:
# Float
print(4.5)
print(1.7e308)
print(1.7e309)

4.5
1.7e+308
inf

In [6]:
# Complex
print(1+3j)
type(1+3j)

(1+3j)

complex

In [7]:
# Boolean
print(True)
print(False)

True
False

In [8]:
# String
print('Shivansh')
print("Shivansh")
print("""Shivansh""")

Shivansh
Shivansh
Shivansh

In [9]:
# LIST
print([1,2,3,4,5])
print([1,"shivansh",7.8])
type([1,"shivansh",7.8])

[1, 2, 3, 4, 5]
[1, 'shivansh', 7.8]

list

In [10]:
# Tuple
print((1,2,4,5))
type((1,2,3,4,"shivansh"))

(1, 2, 4, 5)

tuple

In [11]:
# Sets
print({1,2,3,4,5})
type({1,2,3,4,5,"Shivansh"})

{1, 2, 3, 4, 5}

set

In [12]:
# Dict
print({"Name":"Shivansh Kumar","Age":21,"Gender":"Male"})
type({"Name":"Shivansh Kumar","Age":21,"Gender":"Male"})

{'Name': 'Shivansh Kumar', 'Age': 21, 'Gender': 'Male'}

dict

### -------------------------------------------<.>--------------------------------------------------------------------

# Variable:-Variables are containers for storing data values. <br> A variable is created the moment you first assign a value to it.

In [13]:
# Dynamic Typing
x = "shivansh"
print(x)
print(type(x))

shivansh
<class 'str'>

In [14]:
y = 5
print(y)
print(type(y))

5
<class 'int'>

In [15]:
# Dynamic Binding
name="shivansh"
print(name)
print(type(name))

shivansh
<class 'str'>

In [16]:
name=True
print(name)
print(type(name))

True
<class 'bool'>

In [17]:
# Special syntax
a=10;b=20;c=30;
print(a)
print(b)
print(c)

10
20
30

In [18]:
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30

In [19]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

### -------------------------------------------<.>--------------------------------------------------------------------

# Keywords
Python is a case sensitive programming language.<br>
In programming, a keyword is a word that is reserved by a program because the word has a special meaning. Keywords can be commands or parameters. Every programming language has a set of keywords that cannot be used as variable names.

In [25]:
# 35 Kayword in python 3.8.8
import keyword
print(keyword.kwlist)
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

# Identifiers
A Python identifier is a name used to identify a variable, function, class, module or other object.<br>

Rules for setting Identifiers<br>
can only start with an alphabet or _ <br>
Followed by 0 or more letter,_ and digits <br>
keywords cannot be used as an identifiers

# What is identifier with example.
Identifiers are names given to different entities such as constants, variables, structures, functions, etc. Example: int amount; double totalbalance; In the above example, amount and totalbalance are identifiers and int, and double are keywords.

In [31]:
# can only start with an alphabet or _
x = "shivansh"
print(x)

_ = "shivansh"
print(_)

shivansh
shivansh

### -------------------------------------------<.>--------------------------------------------------------------------

# INPUT :- The input() function allows a user to insert a value into a program. input() always returns a string value.Because string is a universal data type which can hold other data type.

In [32]:
input()

5

'5'

In [35]:
usr_age = input("Enter your age : ")

Enter your age : 90

In [37]:
print(usr_age)
print(type(usr_age)) # input() always stores values in string form.

90
<class 'str'>

### -------------------------------------------<.>--------------------------------------------------------------------

# Type Conversion

### implict:-In Implicit type conversion of data types in Python, the Python interpreter automatically converts one data type to another without any user involvement. 
### explict:-In Explicit Type Conversion in Python, the data type is manually changed by the user as per their requirement.

In [53]:
# Implicit
print(4+9.5)
print()
# explict
print(int(4.5))
print(float(4))
print(str(5))
print(bool(1))
print(complex(4))

13.5

4
4.0
5
True
(4+0j)

In [71]:
x = 5.6
print(int(x),"Address is :",id(x))
print(x,"Address is :",id(x))
print("Type Conversion is a temp operation,That's the reason both address are difference")

5 Address is : 140093841434064
5.6 Address is : 140093841434064
Type Conversion is a temp operation,That's the reason both address are difference

In [54]:
# Add two Number
first_num = input("Enter First Number :")
second_num = input("Enter second Number :")
print("The sum is :",first_num+second_num)

Enter First Number :56
Enter second Number :90
The sum is : 5690

In [60]:
# Add two Number
first_num = int(input("Enter First Number :"))
second_num = int(input("Enter second Number :"))
print("The sum is :",first_num+second_num)

Enter First Number :56
Enter second Number :90
The sum is : 146

eval():
eval Function take a String and evaluate the Result.<br>
Eg: x = eval(“10+20+30”)<br>
print(x)<br>
Output: 60

In [64]:
# Add two Number
first_num = eval(input("Enter First Number :"))
second_num = eval(input("Enter second Number :"))
print("The sum is :",first_num+second_num)

Enter First Number :56
Enter second Number :89.9
The sum is : 145.9

In [76]:
print("The sum is: ",(eval(input("Enter First Number : "))+(eval(input("Enter Second Number : ")))))

Enter First Number : 55
Enter Second Number : 78.5
The sum is:  133.5

### -----------------------------------------<.>---------------------------------------------------------------------

# id():- <br>to get address of object

In [82]:
x=5
print(id(x))
y=5
print(id(y))

94824960638400
94824960638400

In [83]:
x=5
print(id(x))
y=9
print(id(y))

94824960638400
94824960638528

### In Python if a new object is required, then PVM won’t create object immediately. First it will check is any object available with the required content or not. If available then existing object will be reused. If it is not available then only a new object will be created. The advantage of this approach is memory utilization and performance will be improved.

# Literals 🤗 :- <br>
Literal is a raw data given in a variable. In Python, there are various types of literals they are as follows: <br>

Numeric Literals<br>
String Literals<br>
Boolean Literals<br>
Special Literals<br>
1. Numeric Literals

In [90]:
# ! pip install emoji
from emoji import emojize

In [119]:
print(emojize(":hugging_face:",use_aliases=True))
print(emojize(":grinning_face:",use_aliases=True))
print(emojize(":grinning_face_with_big_eyes:",use_aliases=True)) 
print(emojize(":face_with_medical_mask:",use_aliases=True))

🤗
😀
😃
😷

In [130]:
# Numeric Literals
a=0b1010
b=100
c=0o1234
d=0x555
print(a,end=" ")
print(b,end=" ")
print(c,end=" ")
print(d,end=" ")

10 100 668 1365

In [139]:
#  String Literals
name = 'shivam'
names = "shivam"
multiline = """Hello Ji kaise Ho Sare This is Shivam"""
uni = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n  string"
print(name)
print(names)
print(multiline)
print(uni)
print(raw_str)

shivam
shivam
Hello Ji kaise Ho Sare This is Shivam
😀😆🤣
raw \n  string

In [143]:
# Boolean Litrals
a = True + 4
b = False + 10
print("a=",a,"b=",b)

a= 5 b= 10

In [147]:
# Special Litrals
a = None
print(a)

None

In [148]:
# None is Widely use in variable declaration
x=None

In [151]:
x=0

In [152]:
x

0