In [1]:
l=[1,2,3]
city="patna"

In [2]:
city.upper()

'PATNA'

In [3]:
l.upper()

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
l.remove(1)
l

In [ ]:
city.remove()

In [ ]:
a=True
a.remove("T")

# Python tell  my every variable is object.whenever i remove a=True a.remove("T") They throw an error object has no attribute 'remove' . And every object is unique in the sense of attribute(function) means every object has unique attribute.<br> In python everything is an object.

<img src="https://www.machinelearningplus.com/wp-content/uploads/2021/04/step-4.svg" />

# Object-Oriented-Programming is the great technique using which a programmer can able to create own data type.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgRCgBxfd48-uol73sFuChadqP9MKfy9C1xw&usqp=CAU" />

int x = 5

- int is class
- x is object
- in general we call it variable but in python it is call object,so we can say that x is an object of int class.

- l1=[1,2,3,4,5]
- type(l1)
- l1 is the object of  List class.

# A Class is like a "blueprint" for creating objects.<br>
- In simple word datatype is a class.
    - In simple word datatype is a class, and using datatype(class) we create an object.

In [ ]:
l1=[1,2,3,4,5] # l1 is object.

In [ ]:
print(type(l1)) # list is a class.

- if we want to create our own class then we put only two things in the class.
    - Data or property
    - Function and behavior

#  - A Class is like a "blueprint" for creating objects.<br>- Object is an instance of the class.

        Class                            Object
        -----                            ------
        Car                              Wagonr   //wagonr=Car()
        Sport                            Gilli_Danda // gill_danda=Sport()
        Animal                           Langoor   // langoor=Animal()
        LinearRegression                 lr        // lr=LinearRegression()

<img src="https://www.learnbyexample.org/wp-content/uploads/python/Class-Object-Illustration.png" />

- Each car was built from the same set of blueprints and therefore contains the same components. In object-oriented terms, we say that your car(Wagonr) is an instance (object) of the class Car.

Did you know?

In Python, everything is an object – integers, strings, lists, functions, even classes themselves.

However, Python hides the object machinery with the help of special syntax.

For example, when you type num = 42, Python actually creates a new object of type integer with the value 42, and assign its reference to the name num.

        Class                            Object
        -----                            ------
        Car                              Wagonr   //wagonr=Car()
        Sport                            Gilli_Danda // gill_danda=Sport()
        Animal                           Langoor   // langoor=Animal()
        LinearRegression                 lr        // lr=LinearRegression()

In [ ]:
l1=[1,2,3,4,5]
l1

In [ ]:
l5 = list()
l5

In [ ]:
l6 = list([1,2,3,4,5])
l6

In [ ]:
a=int() # We make an object (a) of integer class.
a

## Create a Class, Using Class Keyword we can define a Class.

In [ ]:
# First Latter of the class name should be capital but not mandatory.
class Car:
    pass

- Let's make a class of Car.

In [4]:
class Car:
    # Data
    color=None 
    top_speed=None 
    
    # Function
    def get_info(self,x,y):
        """
        This will take Color of Car in x and Speed of Car in y.
        """
        self.color=x
        self.top_speed=y
        
        print("You have a",self.color,"car can with a top speed of",self.top_speed)
    
    def calAvgSpeed(self,km,t):
        """
        Give km and time and i will give you the speed of the car.
        """
        
        speed=float(km/t) 
        
        print("Speed of car",speed)

In [5]:
wagonr=Car()

In [6]:
wagonr.get_info("red",60)

You have a red car can with a top speed of 60

In [7]:
wagonr.calAvgSpeed(10,5)

Speed of car 2.0

- Save Above class in the python lib folder with car.py name.

In [8]:
import car

In [9]:
audi=car.Car() # audi is the object of Car class.

In [10]:
audi.get_info("red",50)

You have a red car can with a top speed of 50

In [11]:
audi.calAvgSpeed(10,5)

Speed of car 2.0

In [12]:
l1 = list()

In [13]:
# l1. # After press dot(.) you will find all function whatever in the list class.

In [14]:
maruti = car.Car()

In [15]:
maruti.calAvgSpeed(100,90)

Speed of car 1.1111111111111112

<img src="" />

In [17]:
class Atm:
    # Data
    pin=None
    bal=0
    
    # Function
    def activate_card(self):
        print("Hi welcome to SBI bank")
        self.pin=input("Enter your 4 digit pin: ") # access class variable use self.
        print("Congrsts Your pin is created")
        
    def checkBalance(self):
        temp = input("Enter Your 4 digit number")
        if temp==self.pin:
            print("Your Current Balance Is: ",self.bal)
        else:
            print("Invalid Pin")
    def deposite(self):
        temp = input("Enter Your 4 digit number")
        if temp==self.pin:
            ammout=int(input("Enter Your Ammount"))
            self.bal=self.bal+ammout
            print("Deposite Sucessfully")
        else:
            print("Invalid Pin")
            
    def withdraw(self):
        temp = input("Enter Your 4 digit number")
        if temp==self.pin:
            ammout=int(input("Enter Your Ammount"))
            if ammout < self.bal:
                self.bal=self.bal-ammout
                print("Sucessfully Withdraw",ammout)
            else:
                print("insufficient Balance")
        else:
            print("Invalid Pin")

In [69]:
shivam = Atm()

Hi welcome to SBI bank
Enter your 4 digit pin: 5665
Congrsts Your pin is created

In [23]:
shivam.activate_card()

Hi welcome to SBI bank
Enter your 4 digit pin5555
Congrsts Your pin is created

- Save Above class in the python lib folder with sbi.py name.

In [25]:
import sbi

In [27]:
shivam = sbi.Atm()

In [31]:
shivam.activate_card()

Hi welcome to SBI bank
Enter your 4 digit pin: 5656
Congrsts Your pin is created

In [35]:
shivam.deposite()

Enter Your 4 digit number5656
Enter Your Ammount10000
Deposite Sucessfully

In [70]:
shivam.checkBalance()

Enter Your 4 digit number5656
Invalid Pin

In [37]:
shivam.deposite()

Enter Your 4 digit number5656
Enter Your Ammount5000
Deposite Sucessfully

In [38]:
shivam.checkBalance()

Enter Your 4 digit number5656
Your Current Balance Is:  15000

In [39]:
shivam.withdraw()

Enter Your 4 digit number5656
Enter Your Ammount2000
Sucessfully Withdraw 2000

In [40]:
shivam.checkBalance()

Enter Your 4 digit number5656
Your Current Balance Is:  13000

In [41]:
shivam.withdraw()

Enter Your 4 digit number5656
Enter Your Ammount15000
insufficient Balance

<img src="https://www.machinelearningplus.com/wp-content/uploads/2021/04/step-1.svg" width=200 />

In [44]:
shivansh = sbi.Atm()

In [45]:
shivansh.activate_card()

Hi welcome to SBI bank
Enter your 4 digit pin: 9090
Congrsts Your pin is created

In [47]:
shivansh.deposite()

Enter Your 4 digit number9090
Enter Your Ammount800
Deposite Sucessfully

In [48]:
shivansh.checkBalance()

Enter Your 4 digit number9090
Your Current Balance Is:  800

In [49]:
shivansh.withdraw()

Enter Your 4 digit number9090
Enter Your Ammount100
Sucessfully Withdraw 100

In [50]:
shivansh.checkBalance()

Enter Your 4 digit number9090
Your Current Balance Is:  700

## If i check shivam balance what you think it is replace by shivansh balance(700) or still shivam balance is 13000.

In [51]:
shivam.checkBalance()

Enter Your 4 digit number5656
Your Current Balance Is:  13000

## That's a beauty of oops even without using database you are able to store multiple values for the same variable.

In [60]:
class Car:
    # Data
    color=None 
    top_speed=None 
    
    # Function
    def get_info(self,x,y):
        
        self.color=x
        self.top_speed=y
        
        print("You have a",self.color,"car can with a top speed of",self.top_speed)
    
    def calAvgSpeed(self,km,t):
       
        
        speed=float(km/t) 
        
        print("Speed of car",speed)
wagonr=Car()
wagonr.color="blue"
maruti=Car()
maruti.color="red"

- VR Visual Represent for understand above line.
https://pythontutor.com/live.html#code=class%20Car%3A%0A%20%20%20%20%23%20Data%0A%20%20%20%20color%3DNone%20%0A%20%20%20%20top_speed%3DNone%20%0A%20%20%20%20%0A%20%20%20%20%23%20Function%0A%20%20%20%20def%20get_info%28self,x,y%29%3A%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20self.color%3Dx%0A%20%20%20%20%20%20%20%20self.top_speed%3Dy%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20print%28%22You%20have%20a%22,self.color,%22car%20can%20with%20a%20top%20speed%20of%22,self.top_speed%29%0A%20%20%20%20%0A%20%20%20%20def%20calAvgSpeed%28self,km,t%29%3A%0A%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20speed%3Dfloat%28km/t%29%20%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20print%28%22Speed%20of%20car%22,speed%29%0Awagonr%3DCar%28%29%0Awagonr.color%3D%22blue%22%0Amaruti%3DCar%28%29%0Amaruti.color%3D%22red%22%0A&cumulative=false&curInstr=5&heapPrimitives=nevernest&mode=display&origin=opt-live.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false

##  Note:-❤️ <br>Multiple obeject ek hi class ke data or function ko access kr rahe hain aur sb kuch एक समय में ek sath memory me ho raha hain.

## Method:- Function write inside class is called Method.

# Magic Method:-
- Magic methods in Python are the special methods that start and end with the double underscores. They are also called dunder methods ❤️<br>
# The Constructor:-  ❤️<br>It is a magic method which is automatically invoke(call) once the object of the class is created.
- _ _init_ _()

In [63]:
class Atm:
    # Data
    pin=None
    bal=0
    
    # Function
    def __init__(self):
        print("Hi welcome to SBI bank")
        self.pin=input("Enter your 4 digit pin: ") # access class variable use self.
        print("Congrsts Your pin is created")
        
    def checkBalance(self):
        temp = input("Enter Your 4 digit number")
        if temp==self.pin:
            print("Your Current Balance Is: ",self.bal)
        else:
            print("Invalid Pin")
    def deposite(self):
        temp = input("Enter Your 4 digit number")
        if temp==self.pin:
            ammout=int(input("Enter Your Ammount"))
            self.bal=self.bal+ammout
            print("Deposite Sucessfully")
        else:
            print("Invalid Pin")
            
    def withdraw(self):
        temp = input("Enter Your 4 digit number")
        if temp==self.pin:
            ammout=int(input("Enter Your Ammount"))
            if ammout < self.bal:
                self.bal=self.bal-ammout
                print("Sucessfully Withdraw",ammout)
            else:
                print("insufficient Balance")
        else:
            print("Invalid Pin")

In [64]:
riya=Atm()

Hi welcome to SBI bank
Enter your 4 digit pin: 5890
Congrsts Your pin is created

In [65]:
riya.pin

'5890'

In [66]:
riya.bal

0

In [79]:
print(type(riya))

<class '__main__.Atm'>

In [94]:
riya.deposite()

Enter Your 4 digit number5890
Enter Your Ammount500
Deposite Sucessfully

In [68]:
riya.bal

500

In [93]:
# Python object ke location ko return kr raha hain. because hum ye python ko nahi 
# bataye ki return kya krna hain.
print(riya)

<__main__.Atm object at 0x7f8e005e0d90>

# When you use the print() function to display the object, the print() function shows the memory address of that object.<br>Sometimes, it’s useful to have a string representation of an object. To customize the string representation of a class instance, the class needs to implement the __str__ magic method.

In [161]:
class Fraction:
    num=None
    denum=None
    
    
    def __init__(self,x,y):
        self.num=int(x) 
        self.denum=int(y)
        
    def __str__(self):
        return "{0}/{1}".format(self.num,self.denum)
    
    def __add__(self,other):
        tempN=self.num*other.denum+self.denum*other.num
        tempd=self.denum*other.denum
        return Fraction(tempN,tempd)
    
    def __sub__(self,other):
        tempN=self.num*other.denum-self.denum*other.num
        tempd=self.denum*other.denum
        return Fraction(tempN,tempd) 
    
    def __mul__(self,other):
        tempN=self.num**other.num
        tempd=self.denum*other.denum
        return Fraction(tempN,tempd)
    
    def __truediv__(self,other):
        tempN=self.num*other.denum
        tempd=self.denum*other.num
        return Fraction(tempN,tempd)

In [162]:
a = Fraction(5,6) # a is an object but which type

In [163]:
print(type(a))

<class '__main__.Fraction'>

In [164]:
print(a)

5/6

In [165]:
b=Fraction(8,9)

In [166]:
print(b)

8/9

In [167]:
print(a+b) # we are not able to directly add two object.

93/54

In [168]:
print(a-b)

-3/54

In [169]:
print(a*b)

390625/54

In [170]:
print(a/b)

45/48

## _ _add_ _(self, other) method returns a new object that represents the sum of two objects.

-VR 
https://pythontutor.com/live.html#code=class%20Fraction%3A%0A%20%20%20%20num%3DNone%0A%20%20%20%20denum%3DNone%0A%20%20%20%20%0A%20%20%20%20%0A%20%20%20%20def%20__init__%28self,x,y%29%3A%0A%20%20%20%20%20%20%20%20self.num%3Dint%28x%29%20%0A%20%20%20%20%20%20%20%20self.denum%3Dint%28y%29%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20def%20__str__%28self%29%3A%0A%20%20%20%20%20%20%20%20return%20%22%7B0%7D/%7B1%7D%22.format%28self.num,self.denum%29%0A%20%20%20%20%0A%20%20%20%20def%20__add__%28self,other%29%3A%0A%20%20%20%20%20%20%20%20tempN%3Dself.num*other.denum%2Bself.denum*other.num%0A%20%20%20%20%20%20%20%20tempd%3Dself.denum*other.denum%0A%20%20%20%20%20%20%20%20return%20Fraction%28tempN,tempd%29%0Aa%20%3D%20Fraction%285,6%29%0Aprint%28a%29%0Ab%3DFraction%288,9%29%20%0Aprint%28b%29%0Aprint%28a%2Bb%29%0A&cumulative=false&curInstr=32&heapPrimitives=nevernest&mode=display&origin=opt-live.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false