# -Mutable ---> List/Set/Dictionary  (Es tin data type chor kr sb Immutable hota hain, means en sbhi ko aap memory me use jagah me rakh kr edit nahi kr skte agar aap edit karoge to add change hoga mtln naya object create hoga).<br><br>-Immutable ---> String/tuple/int/float/Boolean/complex.

## What is tuple <br>List vs array<br>Create a list<br>Access<br>Edit<br>Add <br>Delete<br>Operation<br>Function<br>

In [4]:
t=()
t

()

In [6]:
type(t)

tuple

In [7]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [8]:
t1=(1,2,3,4,(5,6))

In [12]:
print(t1)
type(t1)

(1, 2, 3, 4, (5, 6))

tuple

In [14]:
t2=(1,2,3,4,5,"Shivansh")
print(t2)
type(t2)

(1, 2, 3, 4, 5, 'Shivansh')

tuple

In [16]:
# Single item is not tuple
t3=(1)
print(t3)
type(t3)

1

int

In [17]:
t4=("Raju")
print(t4)
type(t4)

Raju

str

- How to make single item tuple. 
    -  Just put , after one item

In [19]:
t5=(1,)
print(t5)
type(t5)

(1,)

tuple

In [58]:
t6 = tuple("Patna",)
print(t6)
type(t6)

('P', 'a', 't', 'n', 'a')

tuple

In [55]:
t=(,)

SyntaxError: invalid syntax (156189164.py, line 1)

In [26]:
print(t6[0])
print(t6[-1])
print(t6[0:5])

P
a
('P', 'a', 't', 'n', 'a')

# Difference between tuple and list.<br> Tuple are immutable(We are not able to change the item inside the tuple),Where List are mutable means We are able to change the item inside the list.

In [30]:
t1

(1, 2, 3, 4, (5, 6))

In [31]:
t1[0]=1

TypeError: 'tuple' object does not support item assignment

- We can't add new item inside tuple

In [32]:
# Add=No

In [33]:
t6

('P', 'a', 't', 'n', 'a')

In [34]:
del t6

In [35]:
t6

NameError: name 't6' is not defined

- We can't add delete specific item inside tuple.

In [46]:
t1

(1, 2, 3, 4, (5, 6))

In [47]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [48]:
t1+t2

(1, 2, 3, 4, (5, 6), 1, 2, 3, 4, 5, 'Shivansh')

In [49]:
t1*2

(1, 2, 3, 4, (5, 6), 1, 2, 3, 4, (5, 6))

In [50]:
for i in t1:
    print(i)

1
2
3
4
(5, 6)

# Tuple is read only data types.

- Jb data ka integriry(ईमानदारी)important ho un scenario me hum Tuple use krte hain.

## A tuple refers to a collection of objects in python which are ordered and can’t be changed. The python objects here may be strings, lists, tuples, integers etc.

# Real World Example of Tuple.❤️<br> You can use a Tuple to store the latitude and longitude of your home.

<img src="" />

In [56]:
1.2000000000000001 > 1.2

True