# -Mutable ---> List/Set/Dictionary  (Es tin data type chor kr sb Immutable hota hain, means en sbhi ko aap memory me use jagah me rakh kr edit nahi kr skte agar aap edit karoge to add change hoga mtln naya object create hoga).<br><br>-Immutable ---> String/tuple/int/float/Boolean/complex.

# 1. Dictionary are mutable.
# 2. Dictionary has no indexing.
# 3. Key should be unique.
# 4. key-> immutable , values-> They can mutable.

In [14]:
d={}
d

{}

In [15]:
d = {"Name":"Shivansh","Gender":"Male"}

In [16]:
d

{'Name': 'Shivansh', 'Gender': 'Male'}

In [17]:
d["Name"]

'Shivansh'

In [18]:
d["Gender"]

'Male'

In [19]:
# 1. Dictionary are mutable.
d["Name"]="Shivam"
print(d)

{'Name': 'Shivam', 'Gender': 'Male'}

In [25]:
d1={"Name":"Shivansh","Name":"Shivam"}

In [29]:
d1

{'Name': 'Shivam'}

In [30]:
d2={"Name":"Shivam","College":"An college","Marks":{"M1":90,"M2":80}}

In [31]:
d2

{'Name': 'Shivam', 'College': 'An college', 'Marks': {'M1': 90, 'M2': 80}}

In [32]:
d2[0]

KeyError: 0

In [35]:
d2["Marks"]

{'M1': 90, 'M2': 80}

In [36]:
d2["Marks"]["M1"]

90

# Edit

In [38]:
d2

{'Name': 'Shivam', 'College': 'An college', 'Marks': {'M1': 90, 'M2': 80}}

In [41]:
d2["Marks"]["M2"]=90

In [42]:
d2

{'Name': 'Shivam', 'College': 'An college', 'Marks': {'M1': 90, 'M2': 90}}

In [43]:
d2.get("Name")

'Shivam'

# ADD

In [46]:
d2

{'Name': 'Shivam', 'College': 'An college', 'Marks': {'M1': 90, 'M2': 90}}

In [47]:
d2["Age"]=21

In [48]:
d2

{'Name': 'Shivam',
 'College': 'An college',
 'Marks': {'M1': 90, 'M2': 90},
 'Age': 21}

In [50]:
d2.keys()

dict_keys(['Name', 'College', 'Marks', 'Age'])

In [51]:
d2.values()

dict_values(['Shivam', 'An college', {'M1': 90, 'M2': 90}, 21])

In [52]:
d2["Marks"]["M3"]=90

In [53]:
d2

{'Name': 'Shivam',
 'College': 'An college',
 'Marks': {'M1': 90, 'M2': 90, 'M3': 90},
 'Age': 21}

In [54]:
import pandas as pd 
pd.DataFrame(d2)

      Name     College  Marks  Age
M1  Shivam  An college     90   21
M2  Shivam  An college     90   21
M3  Shivam  An college     90   21

In [55]:
d1

{'Name': 'Shivam'}

In [56]:
del d1

In [57]:
d1

NameError: name 'd1' is not defined

In [58]:
d

{'Name': 'Shivam', 'Gender': 'Male'}

In [61]:
d1 = d.copy()
d1

{'Name': 'Shivam', 'Gender': 'Male'}

In [62]:
d1.clear()

In [63]:
d1

{}

In [78]:
# d2["Name"]

In [79]:
for i in d2:
    print(i,":",d2[i])

Name : Shivam
College : An college
Marks : {'M1': 90, 'M2': 90, 'M3': 90}
Age : 21