In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# EDA THROUGH  PANDAS PROFILING

In [4]:
from pandas_profiling import ProfileReport

In [5]:
prof = ProfileReport(df)

In [7]:
prof.to_file(output_file="ti.html")

Export report to file: 100%|██████████████████████| 1/1 [00:00<00:00, 68.23it/s]

# EDA THROUGH SWEETVIZ

In [9]:
# ! pip install sweetviz

In [10]:
import sweetviz as sv

In [11]:
report = sv.analyze(df)

Done! Use 'show' commands to display/save.   |██| [100%]   00:00 -> (00:00 left)

In [15]:
report.show_html(filepath='report.html')

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [14]:
dir(sv)

['DataframeReport',
 'FeatureConfig',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__license__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__title__',
 '__version__',
 'analyze',
 'comet_ml_logger',
 'compare',
 'compare_intra',
 'config',
 'config_parser',
 'dataframe_report',
 'feature_config',
 'from_dython',
 'from_profiling_pandas',
 'graph',
 'graph_associations',
 'graph_cat',
 'graph_legend',
 'graph_numeric',
 'series_analyzer',
 'series_analyzer_cat',
 'series_analyzer_numeric',
 'series_analyzer_text',
 'sv_html',
 'sv_html_formatters',
 'sv_math',
 'sv_public',
 'sv_types',
 'type_detection',
 'utils']